.header {
  width: 100%;
  border: 1px solid #ececec;
}
.header-list {
  height: 80px;
  margin: auto;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.header-list__item1 {
  margin-left: 10px;
  width: 14%;
}
.header__logo {
  display: block;

  text-align: center;
}
.header-list__item2 {
  display: none;
  width: 20%;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0;
  list-style-type: none;
}
.header-nav__item--1 {
  position: relative;
  text-decoration: none;
  font-family: $mainFontFamily;
  font-style: $fontStyleNormal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $mainTextColor;
  &:hover::after {
    display: block;
    position: absolute;
    content: "";
    margin-top: 29px;
    width: 48px;
    height: 4px;
    background: $additionalColor;
    border-radius: 2px;
  }
}
.header-nav__item {
  position: relative;
  text-decoration: none;
  font-family: $mainFontFamily;
  font-style: $fontStyleNormal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $mainTextColor;
  &:hover::after {
    display: block;
    position: absolute;
    content: "";
    margin-top: 29px;
    width: 63px;
    height: 4px;

    background: $additionalColor;
    border-radius: 2px;
  }
}
.header-list__item3 {
  display: none;
  width: 30%;
}
.header-contacts__list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0;
  height: auto;
}
.header-contact__list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  transition-property: --color4;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    --color4: #{$additionalColor};
    cursor: var(--cursor);
  }
}
.header-contact__list__icon {
  width: 16px;
  height: 24px;
  margin-right: 10px;
}
.header-contact__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: $secTextColorGray;
}
.header-list__item4 {
  display: block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.menuToggle {
  border: none;
  border-radius: 50%;
  &:hover {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $mainBackgroundColor;
  z-index: 999;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 1;
}
.menu__list {
  list-style: none;
  padding: 0;
}
.menu__contacts {
  position: fixed;
  bottom: 200px;
  list-style: none;
  padding: 0;
}
.menuContacts__item--1 {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
}
.menuContacts__item--2 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.menuContacts__link {
  color: $secTextColorGray;
}
.menu__socials {
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menuSocials__item {
  width: 86px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;

  color: $additionalColor;
  &::after {
    display: block;
    position: relative;
    bottom: 14px;
    content: "";
    width: 22px;
    height: 0px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
.item--1 {
  &::after {
    left: 80px;
  }
}
.item--2 {
  &::after {
    left: 55px;
  }
}
.item--3 {
  &::after {
    left: 77px;
  }
}
.item--4 {
  &::after {
    display: none;
  }
}
.menu__close {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $mainBackgroundColor;
  border: none;
  border-radius: 50%;
  &:hover {
    fill: $additionalColor;
    border-radius: 50%;
    box-shadow: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-list__item1 {
    margin: 0;
  }
  .header-list__item2 {
    display: block;
  }
  .header-list__item3 {
    display: block;
  }
  .header-list__item4 {
    display: none;
  }
}
