.title {
  width: 100%;
  height: 400px;
  padding: 100px 0px 100px 0px;
  background: $secBackgroundColor;
  background-image: linear-gradient(#2f303a66, #2f303a66),
    url(../images/title-img1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.title__text {
  width: 66%;
  margin: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;

  text-align: center;
  letter-spacing: 0.06em;

  color: $textColorWhite;
}
.title__button {
  display: block;
  margin: auto;
  margin-top: 30px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: $textColorWhite;

  background: $additionalColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background: #188ce8;
  }
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000033;

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 1;
}
.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 528px;
  height: 581px;
  background-color: $mainBackgroundColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modalContent__close {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $mainBackgroundColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $additionalColor;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: $textColorWhite;
  }
}
.modalContent__closeIcon {
  width: 18px;
  height: 18px;
}
.modalContent__headline {
  width: 448px;
  height: 23px;
  margin: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modalContent__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.modalForm__label {
  display: flex;
  flex-direction: column;
  padding: 7px 0px 7px 0px;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}
.label__name {
  margin: 0;
  top: 10px;
  position: relative;
}
.label__icon {
  position: relative;
  top: 27px;
  left: 10px;
  width: 16px;
  height: 15px;
  margin: 0;
}
.modalForm__label:hover > .modal-icon {
  fill: $additionalColor;
}
.modalForm__label:focus-within > .modal-icon {
  fill: $additionalColor;
}
.label__input {
  width: 448px;
  height: 40px;
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border: 1px solid $additionalColor;
  }
  &:focus {
    border: 1px solid $additionalColor;
  }
}
.label__commentName {
  position: relative;
  margin: 0;
  top: 0;
}
.label__comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border: 1px solid $additionalColor;
  }
  &:focus {
    border: 1px solid $additionalColor;
  }
}
.modalForm__label--checkbox {
  position: relative;
  display: block;
  width: 447px;
  height: 57px;
  padding: 7px 0px 7px 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}
.checkbox__input {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 16px;
  height: 15px;
}
.checkbox__input:checked ~ .checkbox__icon {
  visibility: visible;
}
.checkbox__icon {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 16px;
  height: 15px;
  visibility: hidden;
  z-index: 1;
  transition-property: visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modalForm__lable--button {
  display: flex;
  align-items: center;
  margin: 0;
}
.label__button {
  width: 200px;
  height: 50px;
  background-color: $additionalColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.06em;

  color: $textColorWhite;
}
@media screen and (min-width: 1200px) {
  .title {
    padding: 200px 0px 200px 0px;
    height: 600px;
    background-image: linear-gradient(#2f303a66, #2f303a66),
      url(../images/title-img2x.jpg);
  }
  .title__text {
    font-size: 44px;
    line-height: 60px;
  }
}
