/*Regular Customers*/
.regularCustomers__header {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
}
.regularCustomers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px 0 20px;
  padding-top: 50px;
  list-style: none;
}
.regularCustomersList__item {
  flex-basis: calc(100% - 1 * 20px) / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 37%;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border, border-radius, --color1, --color2;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border: 1px solid $additionalColor;
    border-radius: 4px;

    --color1: #{$additionalColor};
    --color2: #{$additionalColor};
    cursor: $cursor;
  }
}
.regularCustomersList__icon {
  width: 106px;
  height: 60px;
}
@media screen and (min-width: 480px) and (max-width: 1200px) {
  .regularCustomers__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .regularCustomersList__item {
    flex-basis: calc(100% - 2 * 20px) / 3;
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .regularCustomers__header {
    font-size: 36px;
    line-height: 42px;
  }
  .regularCustomers__list {
    margin-top: 50px;
    padding: 0;
    flex-wrap: nowrap;
  }
  .regularCustomersList__item {
    width: 170px;
  }
}
