$mainBackgroundColor: #ffffff;
$secBackgroundColor: #2f303a;
$thirdBackgroundColor: #f5f4fa;

$mainTextColor: #212121;
$secTextColorGray: #757575;
$textColorWhite: #ffffff;
$additionalColor: #2196f3;

$mainFontFamily: "Roboto", sans-serif;
$secFontFamily: "Releway", sans-serif;
$fontStyleNormal: normal;

$cursor: pointer;
